@page "/"
<div style="height: 100%;">
    <div style="width: 380px;height: 100%;float: left;">
        <FileTree></FileTree>
    </div>
    <MDivider Style="width: 1px;float: left;height: 100%;" Vertical>
    </MDivider>
    <div style="float: left;margin-left: 5px;width: calc(100% - 386px);height: 100%;">
        <TitleFile />
    </div>
</div>