@import "~@douyinfe/semi-ui/dist/css/semi.min.css";

.web-layout {
    height: 100%;
}

html {
    height: 100%;
}
body {
    height: 100%;
}

#root {
    height: 100%;
}

.menu {
    position: absolute;
}

.menu .semi-card-body {
    padding: 3px !important;
}

#code {
    width: 50%;
    height: 100%;
    min-width: 300px;
    float: left;
}

#code .editor-group {
    height: 100%;
}

#code .editor-group .custom-editor {
    height: calc(100% - 48px);
}

#render {
    width: 49%;
    height: 100%;
    float: right;
    padding: 5px;
    overflow-y: auto;
    min-width: 300px;
    max-height: 100vh;
}

#splitter {
    width: 3px;
    height: 100%;
    float: left;
    cursor: col-resize;
    background-color: #6b80bb;
}

.m-progress-circular {
    margin: 1rem;
}
